html {
  position: relative;
  height: 100%;
  margin: 0;
}

html hr {
  margin: 0;
  background-color: #E0DEDE;
}

html .header {
  background-color: #F8F8F8;
  height: 10%;
  width: 100%;
  margin: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
}

html .header .container1 {
  height: 100%;
  width: 100%;
}

html .header .container1 .toplogo {
  height: 45px;
}

html .header .container1 .hrig {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 10%;
}

html .header .container1 .hrig a:link {
  color: #494f90;
}

html .header .container1 .hrig a:activate {
  color: #494f90;
}

html .header .container1 .hrig a:visited {
  color: #494f90;
}

html .header .container1 .hrig a:hover {
  color: #000000;
  text-decoration: none;
}

html .header .container1 .hrig .hrigi {
  padding: 3.5%;
}

html .top {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  height: 100%;
  color: white;
  padding-top: 7%;
  padding-bottom: 14%;
  margin: 0;
}

html .top .container2 {
  height: 100%;
  width: 100%;
}

html .top .container2 h1 {
  font-family: 'BebasNeueLight';
  font-size: 72px;
}

html .top .container2 .thinline {
  background-color: #ffffff;
  height: 3px;
  margin-left: 10%;
  margin-right: 10%;
}

html .top .container2 .socialtop {
  margin-top: 5%;
  width: 100%;
}

html .top .container2 .socialtop .btn {
  background-color: #F8F8F8;
  color: #000000;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

html .about1, html .about3 {
  height: 100%;
  color: black;
  padding-top: 4%;
  padding-bottom: 5%;
  margin: 0;
  background-color: #EAE8E8;
}

html .about1 .thinlinesmall, html .about3 .thinlinesmall {
  background-color: #CCC9C9;
  height: 6px;
  width: 100px;
  margin-bottom: 5%;
  margin-top: 5%;
}

html .about1 h1, html .about3 h1 {
  font-size: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 5%;
}

html .about1 p, html .about3 p {
  width: 100%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
  text-align: justify;
}

html .about1 img, html .about3 img {
  width: 90%;
  height: 100%;
  margin-left: 5%;
}

html .about1 #asianbaby, html .about3 #asianbaby {
  width: 90%;
  height: 100%;
  margin-left: 5%;
}

html .about2 {
  height: 100%;
  width: 100%;
  color: black;
  padding-top: 4%;
  padding-bottom: 5%;
  margin: 0;
}

html .about2 .thinlinesmall {
  background-color: #CCC9C9;
  height: 6px;
  width: 100px;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 2%;
}

html .about2 h1 {
  font-size: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 5%;
  margin-left: 2%;
}

html .about2 p {
  width: 100%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
  text-align: justify;
  margin-left: 2%;
}

html .about2 img {
  width: 90%;
  height: 100%;
  margin-left: 5%;
}

html .test {
  height: 100%;
  width: 100%;
  color: black;
  padding-top: 10%;
  padding-bottom: 10%;
}

html .test iframe {
  width: 100%;
  height: 450px;
}

.iframe {
  position: relative;
  height: 100%;
  margin: 0;
}

.iframe img {
  border: 1px solid black;
  width: 100%;
}

.iframe #sangue {
  border: 1px solid black;
  width: 20%;
}

.iframe h1 {
  font-family: 'BebasNeueRegular';
  font-size: 22px;
  color: black;
  margin-bottom: 5%;
}

.iframe #features {
  font-family: 'BebasNeueRegular';
  font-size: 22px;
  color: #494f90;
}

.iframe #eyeblue, .iframe #eyeblue1 {
  height: 50px;
  width: 50px;
  background-color: #006CC3;
  margin-bottom: 5%;
}

.iframe #eyebrown, .iframe #eyebrown1 {
  height: 50px;
  width: 50px;
  background-color: #66431D;
  margin-bottom: 5%;
  margin-left: 5%;
}

.iframe #eyegreen, .iframe #eyegreen1 {
  height: 50px;
  width: 50px;
  background-color: #179A3A;
  margin-bottom: 5%;
  margin-left: 5%;
}

.iframe #skinwhite {
  height: 50px;
  width: 50px;
  background-color: #CAACA4;
  margin-bottom: 5%;
  margin-left: 5%;
}

.iframe #skinbrunette {
  height: 50px;
  width: 50px;
  background-color: #874E42;
  margin-bottom: 5%;
  margin-left: 5%;
}

.iframe #skinblack {
  height: 50px;
  width: 50px;
  background-color: #582A24;
  margin-bottom: 5%;
  margin-left: 5%;
}

.iframe #ap {
  height: 50px;
  width: 50px;
  margin-bottom: 5%;
  margin-left: 5%;
  background-image: url("../images/A+.jpg");
  background-size: cover;
}

.iframe #a- {
  height: 50px;
  width: 50px;
  background-color: #582A24;
  margin-bottom: 5%;
  margin-left: 5%;
  background-image: url("../images/A-.jpg");
  background-size: cover;
}

.iframe #bp {
  height: 50px;
  width: 50px;
  background-color: #582A24;
  margin-bottom: 5%;
  margin-left: 5%;
  background-image: url("../images/B+.jpg");
  background-size: cover;
}

.iframe #b- {
  height: 50px;
  width: 50px;
  background-color: #582A24;
  margin-bottom: 5%;
  margin-left: 5%;
  background-image: url("../images/B-.jpg");
  background-size: cover;
}

.iframe #abp {
  height: 50px;
  width: 50px;
  background-color: #582A24;
  margin-bottom: 5%;
  margin-left: 5%;
  background-image: url("../images/AB+.jpg");
  background-size: cover;
}

.iframe #ab- {
  height: 50px;
  width: 50px;
  background-color: #582A24;
  margin-bottom: 5%;
  margin-left: 5%;
  background-image: url("../images/AB-.jpg");
  background-size: cover;
}

.iframe #op {
  height: 50px;
  width: 50px;
  background-color: #582A24;
  margin-bottom: 5%;
  margin-left: 5%;
  background-image: url("../images/O+.jpg");
  background-size: cover;
}

.iframe #o- {
  height: 50px;
  width: 50px;
  background-color: #582A24;
  margin-bottom: 5%;
  margin-left: 5%;
  background-image: url("../images/O-.jpg");
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */