html
    position: relative
    height: 100%
    margin: 0
    
    .header
        background-color: #F8F8F8
        height: 10%
        width: 100%
        margin: 0
        font-family: 'Ubuntu Condensed', sans-serif
        font-size: 18px

        .container1
            height: 100%
            width: 100%

            .toplogo
                height: 45px

            .hrig
                align-self: center
                padding-left: 10%

                a:visited
                    color: #494f90
                a:hover
                    color: #000000
                    text-decoration: none   
                .hrigi
                    padding: 3.5%

    .top
        background-image: url('../images/bg2.jpg')
        height: 100%
        background-size: cover
        color: white
        padding: 10%

        h1 
            font-family: 'BebasNeueLight'
            font-size: 72px
                    